<div class="logo"><img src="images/s-logo.svg"/></div>
    <div class="nav-panel">
        <div>Игровое поле</div>
        <div class="active">Рейтинг</div>
        <div>Активные игроки</div>
        <div>История игр</div>
        <div>Список игроков</div>
    </div>
<button><img src="images/signout-icon.svg"/></button>