* {
    background: #FFFFFF;
    margin: 0;
}

body {
    background: #E5E5E5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.modal {
    /* modal */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
    
    padding: 40px 24px;
    gap: 12px;

    position: absolute;
    width: 400px;
    height: 464px;
    top: 37.916667%;
    bottom: 37.916667%;
    /*left: 760px;
    top: 308px;*/

    /* Gray / White */

    background: #FFFFFF;
    /* Elevation / Lv2 */

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}

img {
    width: 132px;
    height: 132px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#join-game {
    width: 352px;
    height: 36px;

    /* Headers / H1 – bold */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */

    display: flex;
    justify-content: center;
    /*align-items: center;
    text-align: center;
    */


    /* Gray / 700 */

    color: #373745;


    /* Inside auto layout */

    flex: none;
    /*align-self: stretch;*/
    flex-grow: 0;
}

.textfield {
    
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;
    margin-top: 12px;

    width: 352px;
    height: 48px;

    /* Gray / White */

    background: #FFFFFF;
    /* Gray / 100 */

    border: 1px solid #DCDCDF;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.text {
    width: 312px;
    height: 24px;

    /* Body / 16px regular */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    border: 0;
    outline: none;

    display: flex;
    
    align-items: center;
    letter-spacing: 0.24px;

    /*color: #B1B1B7;*/
    color: black;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

button {
    /* Primary-button */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 20px;
    margin-top: 8px;

    position: relative;

    width: 352px;
    height: 48px;

    background: rgba(96, 194, 170, 0.3);
    border: 1px solid rgba(96, 194, 170, 0.3);
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

button:hover {
    background: #60C2AA;
}

label {
    /* label */


    width: 47px;
    height: 24px;

    /* Body / 16px medium */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.24px;


    /* Gray / White */

    color: #FFFFFF;
    background: transparent;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}