@import './variables.css';

* {
    font-family: var(--roboto-font);
    font-style: normal;
}

body {
    background-color: #E5E5E5;
}

header {
    position: fixed;
    width: -webkit-fill-available;
    height: 64px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
    display: flex;
    padding-right: 40px;
    padding-left: 40px;
    justify-content: space-between;
    align-items: center;

    gap: 10px;
}

button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.nav-panel {
    display: flex;
    align-items: flex-start;
    padding: 0;
    gap: 16px;

    height: 32px;
}

.nav-panel div {
    padding: 4px 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #373745;
    cursor: pointer;
}

.nav-panel .active {
    padding: 4px 12px;
    background: var(--x-color);;
    border-radius: 200px;
    color: white;
}

.rating {
    display: inline-block;
    border-radius: 40px; 
    background-color: #ffffff; 
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    padding: 32px;
    left: 50%;
    top: 67%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #373745;
    z-index: -1;
    max-width: 100%;
    overflow: auto;
}

span {
    font-weight: 700;
    font-size: 24px;
}

table {
    margin-top: 16px;
    border-collapse: collapse;
}

th, td {
    padding-top: 10px;
    padding-left: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EEEFF5;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
}
  
th {
    font-weight: 500;
    text-align: left;
}

td:nth-child(1), th:nth-child(1) {
    width: 424px;
}
  
td:nth-child(2), th:nth-child(2) {
    width: 90px;
}

td:nth-child(3){
    width: 62px;
    color: #69B849;
}

td:nth-child(4){
    width: 92px;
    color: #E93E3E;
}
  
td:nth-child(5), th:nth-child(5) {
    width: 118px;
}
