<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/auth.css">
    <% if (typeof(invalidAuth) != 'undefined') { %>
        <link rel="stylesheet" href="/stylesheets/invalid-auth.css">
    <% } %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="modal">
        <div>
            <img src="/images/casual-life-3d-blue-scared-ghost 1.svg">
        </div>
        <h1 id="join-game">
            Войдите в игру
        </h1>
        <form method="post" action="/login">
            <div class="textfield">
                <input type="text" placeholder="Логин" class="text" name="login" id="login"></input>
                <% if (typeof(invalidAuth) != 'undefined') { %>
                    <input type="text" placeholder="Неверный логин" class="invalid-data" readonly></input>
                <% } %>
            </div>
    
            <div class="textfield">
                <input type="password" placeholder="Пароль" class="text" name="password" id="password"></input>
                <% if (typeof(invalidAuth) != 'undefined') { %>
                    <input type="text" placeholder="Неверный пароль" class="invalid-data" readonly></input>
                <% } %>
            </div>

            <button type="submit"><label>Войти</label></button>
        </form>
        
    </div>

    <script src="/javascripts/auth.js"></script>
    
</body>
</html>