<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="stylesheets/rating.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>
        <main>
            <div class = "rating">
                <span>Рейтинг игроков</span>
                <table>
                    <tr>
                        <th>ФИО</th>
                        <th>Всего игр</th>
                        <th>Победы</th>
                        <th>Проигрыши</th>
                        <th>Процент побед</th>
                    </tr>
                    <% users.forEach((user) => { %>
                        <tr>
                            <td><%= user.name %></td>
                            <td><%= user.totalGames %></td>
                            <td><%= user.wins %></td>
                            <td><%= user.loses %></td>
                            <td><%= user.winningPercentage %>%</td>
                        </tr>
                    <% }); %>
                </table>
            </div>
        </main>
    </body>
</html>